

<h1 style="margin-top:0;"><span class="search_query"></span></h1>

<div class="row-fluid">
	<div class="span12" style="padding-right:10px;">
		<div class="no_data hide">Your search did not match any pads.</div>
		<table class="table table-hover" id="pad-list">
			<thead>
				<tr>
					<th><span class="sort_field" data-sort-key="pad_id">Title</span></th>
					<th>Summary</th>
					<th>Authors</th>
					<th><span class="sort_field" data-sort-key="modified">Last activity</span></th>
				</tr>
			</thead>
			<tbody></tbody>
			<tfoot>
				<tr>
					<td colspan="4">
						<div class="activity_indicator"><img src="../static/plugins/ep_portal/static/images/loading.gif" align="middle" > Loading data...</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<hr>